<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff_Home</title>
</head>
<body>

    <h1>Welcome,</h1>

        1. <a href="staff_view_notification">View Notification</a><br>
    <br>2. <a href="staff_view_students">View Students</a><br>
    <br>3. <a href="staff_view_profile">View_profile</a><br>
    <br>4. <a href="staff_manage_subjects">Add & Manage Subjects</a><br>
    <br>5. <a href="sub_notes">Add Notes</a><br>
    <br>6. <a href="staff_view_notes">View Notes</a><br>


    
</body>
</html>