<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/Admin_Panel/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/Admin_Panel/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
      Staff | Add Notes
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/Admin_Panel/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/Admin_Panel/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/Admin_Panel/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
{#      <div class="logo">#}
{#        <a href="https://www.creative-tim.com" class="simple-text logo-mini">#}
{#          <div class="logo-image-small">#}
{#            <img src="static/Admin_Panel/assets/img/logo-small.png">#}
{#          </div>#}
{#          <!-- <p>CT</p> -->#}
{#        </a>#}
{#        <a href="https://www.creative-tim.com" class="simple-text logo-normal">#}
{#          Creative Tim#}
{#          <!-- <div class="logo-image-big">#}
{#            <img src="../assets/img/logo-big.png">#}
{#          </div> -->#}
{#        </a>#}
{#      </div>#}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="staff_home">
              <i class="nc-icon nc-single-copy-04"></i>
              <p>Dashboard</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
{#                <input type="text" value="" class="form-control" placeholder="Search...">#}
                <div class="input-group-append">

                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify">

                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate">

                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Add New Note</h5>
              </div>
              <div class="card-body">
<form method="post" action="/staff_add_notes" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 pr-1">
            <div class="form-group">
                <input type="hidden" name="id"/>
                <label>SUBJECT NAME:</label>
                <select id="course_type" name="subject_id" required>
                    <option value="">Select a subject</option>
                    {% for subject in subject_list %}
                        <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" style="font-family: Arial, sans-serif; margin: 20px;">
                <label style="font-weight: bold; color: red; display: block; margin-bottom: 10px;">
                </label>
                <input type="file" name="note_media_file" required style="cursor: pointer"/> Click Here To <b>Add Note</b>
            </div>
        </div>

        <div class="col-md-3 px-1">
            <div class="form-group">
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Rishan
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/Admin_Panel/assets/js/core/jquery.min.js"></script>
  <script src="/static/Admin_Panel/assets/js/core/popper.min.js"></script>
  <script src="/static/Admin_Panel/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/Admin_Panel/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/static/Admin_Panel/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/Admin_Panel/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/Admin_Panel/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/Admin_Panel/assets/demo/demo.js"></script>
</body>

</html>