<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View Students</title>
</head>

<body>
<div align="center">
    <p><strong><h2>Notes</h2></strong></p>
</div>
<form id="form1" name="form1" method="post" action="staff_search_student">
{% csrf_token %}
{#    SEARCH : <input type="text" name="search" autocomplete="off"/><input type="submit" value="submit"/><BR>#}
{#<a href="staff_view_students">Back</a>#}
  <table width="717" border="1" style="margin-top: 20px">
    <tr>
      <td width="50"><b>SI.NO</b></td>
       <td width="139"><b>Course</b></td>
      <td width="224"><b>Subject</b></td>
        <td width="139"><b>Notes</b></td>
{#        <td width="139">Course</td>#}
{#        <td width="139">Semester</td>#}
{#      <td width="100">DOB</td>#}
{#      <td width="119">Admission Number</td>#}
{#    </tr>#}
    <tr>
        {% for details in notes_details %}
        <td> {{ forloop.counter }} </td>
      <td> {{ details.SUBJECT_ID.COURSE_ID.course_name }}&nbsp;</td>
      <td> {{ details.SUBJECT_ID.subject_name }}&nbsp;</td>
      <td> {{ details.subject_note }}&nbsp;</td>
{#      <td> {{ details.STUDENT_COURSE.course_name }}&nbsp;</td>#}
{#      <td> {{ details.student_current_sem }}</td>#}
{#      <td> {{ details.student_dob }}</td>#}
{#      <td> {{ details.student_admission_number }}</td>#}

</td>
    </tr>
        {% endfor %}
  </table>
</form>
</body>

</html>
